/* -------------------- layout -------------------- */
body{
    margin: 0%;
    background: linear-gradient(Salmon, PapayaWhip);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

header{
    background-color: #0C7489;
    display: flex;
    align-items: center;
}

h1 a{
    width: 20%;
    color: white;
    font-size: 30px;
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 35px;
}

.navbar a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

header, section, footer {
    padding: 20px 5%;
}

.form * {
    padding: 10px;
}

.form-inline button{
    background-color: blue;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}

.btn:hover{
    cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
/* removes the underline from links */
    text-decoration: none;
}

footer {
    background-color: #fdf2d1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer nav {
    display: flex;
    flex-direction: column;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: left;
}

footer a,
  footer p {
    margin: 10px 0;
}

section {
    min-height: 400px;;
}


/* -------------------- home -------------------- */
.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.heading p{
    font-size: 30px;
}

.heading{
    text-align: center;
}

.login h3{
    text-align: center;
}

.login form{
    align-items: center;
    padding: 10px;
}


/* -------------------- register -------------------- */
.register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.register h3{
    text-align: center;
}

.register form{
    align-items: center;
    padding: 10px;
}


/* -------------------- tracking -------------------- */
.tracking-section{
    /* background: linear-gradient(navy, lightblue); */
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    color: white;
}

.tracking-entry{
    padding: 10px;
}


/* -------------------- user_data -------------------- */
.data-section{
    /* background: linear-gradient(Salmon, PapayaWhip); */
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

/* -------------------- user_list -------------------- */
.user-section{
    /* background: linear-gradient(Plum, lavender); */
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}


