/* -------------------- layout -------------------- */
body{
    margin: 0%;
    background: linear-gradient(Salmon, PapayaWhip);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

header{
    background-color: #4A1942;
    display: flex;
    align-items: center;
}

h1 a{
    width: 20%;
    color: white;
    font-size: 30px;
}

header h1{
    padding: 20px;
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 35px;
}

.navbar a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

header, section, footer {
    padding: 20px 10%;
}

.form * {
    padding: 10px;
}

.form-inline button{
    background-color: #E2E4F6;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}

.form-inline a{
    color: #893168;
}

.btn:hover{
    cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
/* removes the underline from links */
    text-decoration: none;
}

footer {
    background-color: #E2E4F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer nav {
    display: flex;
    flex-direction: column;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: left;
}

footer a,
  footer p {
    margin: 10px 0;
    color: purple;
}

section {
    min-height: 600px;
    justify-content: center;
}

#messages{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    background-color: black;
}

/* -------------------- home -------------------- */
.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.heading p{
    font-size: 30px;
}

.heading{
    text-align: center;
    padding-bottom: 40px;
}

.login h3{
    text-align: center;
}

.login form{
    align-items: center;
    padding: 10px;
}

.login-form #email, .login-form #password{
    width: 200px;
}


/* -------------------- register -------------------- */
.register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.register h3{
    text-align: center;
}

.register form{
    align-items: center;
    padding: 10px;
}

.register-form{
    width: 400px;
    display: flex;
    flex-direction: column;
}


/* -------------------- logout -------------------- */
.logout-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
}


/* -------------------- tracking -------------------- */
.tracking-section{
    /* background: linear-gradient(navy, lightblue); */
    background-color: #048BA8;
    display: flex;
    flex-direction: column;
    color: white;
}

.tracking-entry{
    padding: 10px;
}

.mood-selection ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.mood-selection li{
    display: inline;
}

#mood_diary{
    width: 500px;
}


/* -------------------- user_data -------------------- */
.data-section{
    /* background: linear-gradient(Salmon, PapayaWhip); */
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 30px;
}

.user-data-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.user-data-heading, .user-data-cell{
    height: 40px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.user-data-heading[scope=col] {
  background-color: #04AA6D;
  color: white;
}

.user-data-row:hover {
    background-color: coral !important;
}

.user-data-row:nth-child(even) {
    background-color: #f2f2f2;
}

/* -------------------- user_list -------------------- */
.user-section{
    /* background: linear-gradient(Plum, lavender); */
    background-color: #1B9AAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* -------------------- calendar -------------------- */
.emoji {
    transform: scale(3);
}

#calendar {
    padding: 0 1em;
}

.fc-event-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-style: normal !important;
    font-size: medium !important;
}

.fc-day-today {
    background-color: rgba(202, 228, 233, 0.991) !important;
}

.calendar-controls {
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
}

:root {
    --fc-bg-event-opacity: 1;
}
