<!--This is taking the info from layout.html and then adding the below to it-->
{% extends "layout.html" %}
{% block body_content %}

<section class="home-section">
    <div class="intro-text">
        Adulting is hard. We get it - everyone is too busy, and you never get any time to look after yourself.
        You are basically a houseplant with complicated emotions, so we designed this site to help you keep hydrated
        and reflect on all those feelings.
        Not had time to look outside today? We got you covered - this image reflects the weather.
        How are you sleeping? Keep a note of it here!
        Have you made it away from your desk today? Record your steps here. Enjoy this marvellous self-care app.
    </div>

    <!--log into existing account -->
    <div class="login">
        <h3 class="form-heading">Log in</h3>

        <div class='form'>
            <form method='POST' action='' class="login-form">
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.email }}
                {{ form.password }}
                {{ form.submit(class_="btn") }}
            </form>
            {{ message }}
        </div>
    </div>
</section>


{% endblock %}