<!--This is taking the info from layout.html and then adding the below to it-->
{% extends "layout.html" %}
{% block body_content %}

<section class="home-section">
    <div class="heading">
        <p>Hello! Welcome to our Mood Tracker.</p>
        <p>Enjoy this marvellous self-care app!</p>
    </div>

    <!--log into existing account -->
    <div class="login">
      <h3>Log in to an existing account</h3>

        <div class='form'>
            <form method='POST' action=''>
                <div class="login-form">
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.email.label }} {{ form.email }}
                {{ form.password.label }} {{form.password }}
                <br>
                </div>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </div>
</section>


{% endblock %}
