<!--This is the main template for pages, so would build navbar etc on here eventually-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Tracking site - we really should think of a name</title>
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
{% block body_content %}{% endblock %}


    <div>
        <p><a href="{{ url_for('tracking') }}">Add tracking data (will default to today's date and you must be logged
            in as a user now</a></p>
        <p><a href="{{ url_for('register') }}">Register new user</a></p>
        <p><a href="{{ url_for('logout') }}">Logout of your account</a></p>
        <p><a href="{{ url_for('user_data') }}">View all current daily records</a></p>
        <p><a href="{{ url_for('user_list') }}">View all current users</a></p>
        <p><a href="{{ url_for('home') }}">Log in to your account</a></p>

    </div>
</body>
</html>