<!--This is the main template for pages, so would build navbar etc on here eventually-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Mood Tracker</title>
    <style>
        body {
            background-image: url({{ weather_img }})
        }
    </style>
</head>
<body>

    <nav class="navbar">
        <a class="navbar-brand" href="{{ url_for('home') }}">Adulting is Hell</a>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('tracking') }}">Tracking</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user_data') }}">User Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user_list') }}">User List</a>
          </li>


        </ul>


<!--        Button to login-->
        <form class="form-inline">
          <button class="btn" type="button"><a href="{{ url_for('home') }}">Log in</a></button>
        </form>

<!--        Button to register-->
        <form class="form-inline">
          <button class="btn" type="button"><a href="{{ url_for('register') }}">Register</a></button>
        </form>

        <!--        Button to logout-->
        <form class="form-inline">
          <button class="btn" type="button"><a href="{{ url_for('logout') }}">Logout</a></button>
        </form>

    </nav>


<!--    Will display any messages after a form has been submitted, e.g. success or error -->
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
{% block body_content %} {% endblock %}


</body>
</html>