<!--This is the main template for pages, so would build navbar etc on here eventually-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Mood Tracker</title>
    <style>
        body {
            background-image: url({{ weather_img }})
        }
    </style>
</head>

<body>
    <header>
        <h1>
        <a class="navbar-brand" href="{{ url_for('home') }}">Mood Tracker</a>
        </h1>

        <nav class="navbar">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
            <a class="nav-link" href="{{ url_for('tracking') }}">Tracking</a>
            <a class="nav-link" href="{{ url_for('my_user_data') }}">My Daily Records</a>
            <a class="nav-link" href="{{ url_for('user_data') }}">All User Data</a>
            <a class="nav-link" href="{{ url_for('user_list') }}">User List</a>

    <!--        Button to login-->
            <form class="form-inline">
              <button class="btn" type="button"><a href="{{ url_for('home') }}">Log in</a></button>

    <!--        Button to register-->
              <button class="btn" type="button"><a href="{{ url_for('register') }}">Register</a></button>

    <!--        Button to logout-->
              <button class="btn" type="button"><a href="{{ url_for('logout') }}">Logout</a></button>
            </form>

        </nav>
    </header>

    <main>
    <!--    Will display any messages after a form has been submitted, e.g. success or error -->
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div id="messages" class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    {% block body_content %} {% endblock %}
    </main>

    <footer>
        <nav>
            <h2>Useful Links</h2>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="#">Self-care Tips</a>
        </nav>

        <div class="footer__contacts">
            <a href="mailto:moodtracker@adultingmoodtracker.com">moodtracker@adultingmoodtracker.com</a>
            <a href="tel:+44 (5182) 797 9825">+44 (5182) 797 9825</a>
            <p> &copy; Adulting is Hard 2023</p>
        </div>
    </footer>

</body>
</html>