<!--This is taking the info from layout.html and then adding the below to it-->
{% extends "layout.html" %}
{% block body_content %}

<section class="register-section">
    <div class="heading">
        <p>Hello! Welcome to our Mood Tracker.</p>
        <p>Enjoy this marvellous self-care app!</p>
    </div>

    <!--account sign up - needs password and stuff -->
    <div class="register">
      <h3>Sign up for an account</h3>

        <div class='form'>
            <form method='POST' action=''>
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.forename.label }} {{ form.forename }}
                {{ form.surname.label }} {{ form.surname }}
                {{ form.email.label }} {{ form.email }}
                {{ form.password.label }} {{form.password }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </div>
</section>


{% endblock %}