<!--This is taking the info from layout.html and then adding the below to it-->
{% extends "layout.html" %}
{% block body_content %}

<section class="tracking-section">
    <!--if you aren't logged in, display message to ask you to log in (add a redirect here to login page-->
    <div>
        {% if not session['logged_in'] %}
        <h1>Please log in to make an entry</h1>
    </div>

    <!-- If you are logged in, display who you are logged in as (make this a better message) -->
    {% elif session %}
    <div>
        <h1>You are currently logged in as {{ session['logged_in_username'] }}</h1>
    </div>
    {% endif %}

    <!--tracking entry -->
    <div class="tracking-entry">
      <h2>Tracking</h2>

        <div class="form" id='track-form'>
            <form method='POST' action=''>
                <div class="mood-selection">
                <!-- provides CSRF protection, alongside secret key. Use on all POST forms -->
                {{ form.hidden_tag() }}
                {{ form.mood_id.label }} {{ form.mood_id }}
                {{ form.mood_diary.label }} {{ form.mood_diary }}
                <br>
                </div>
                <div class="sleep-selection">
                {{ form.sleep_duration_id.label }} {{ form.sleep_duration_id }}
                {{ form.sleep_quality_id.label }} {{ form.sleep_quality_id }}
                <br>
                </div>
                <div class="water-selection">
                {{ form.water_intake.label }} {{ form.water_intake }}
                <br>
                </div>
                <div class="steps-selection">
                {{ form.steps_taken.label }} {{ form.steps_taken }}
                </div>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </div>
</section>





{% endblock %}