{% extends "layout.html" %}
{% block body_content %}

<section class="data-section">
    <div class="user-data">
        <h2 id="user_data_heading">All User Data</h2>

        <div class="container-fluid bg-1 text-center">
            <div class="table-responsive table-striped">
                <table class="table user-data-table">
                    <thead>
                        <tr>
                        {% for header in headings %}
                            <th class="user-data-heading" scope="col">{{ header }}</th>
                        {% endfor %}
                         </tr>
                    </thead>

                    <tbody>
                        {% for user, record, mood, sleep_duration, sleep_quality in user_data %}
                        <tr class="user-data-row">
                            <th class="user-table-heading" scope="row">{{user.forename}}</th>
                              <td class="user-data-cell">{{ user.surname }} </td>
                              <td class="user-data-cell">{{ user.email }}</td>
                              <td class="user-data-cell">{{ record.record_date }}</td>
                              <td class="user-data-cell">{{ mood.mood }}</td>
                              <td class="user-data-cell">{{ record.mood_diary }}</td>
                              <td class="user-data-cell">{{ sleep_duration.duration }}</td>
                              <td class="user-data-cell">{{ sleep_quality.quality}}</td>
                              <td class="user-data-cell">{{ record.water_intake }}</td>
                              <td class="user-data-cell">{{ record.steps_taken }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}